.calc-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 12px;
} 

.calc-button, #clear {
    width: 40px;
    height: 40px;
    background-color: #e7e5e5;
    font-size: 25px;
    border-radius: 100px;
    border: none;
    transition: all 0.3s;
    &:hover {
        transform: translateY(-5px);
    }
}

#operator {
    background-color: #000000;
    color: white;
}



