.calc-container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    border: none;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 300px;
    height: 450px;
    margin: 20px;
    box-shadow: 8px 8px 8px 1px #c2c2c2;
};

.calc-result {
    margin: 18px;
    padding: 20px;
    height: 100px;
    width: 220px;
    font-size: 50px;
    text-align: right;
    border-bottom: 2px solid #cac9c9af;
};




